

*.db

#######################
# Eclipse Project Files
####################### 
.project
.pydevproject


# Mac Related Files
.DS_Store

# Python Related Files
*.pyc
*.ipynb_checkpoints


build/
dist/
pycrawler.egg-info/



